/*css untuk navbar*/

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(174 168 178);
    align-items: center;
}

#header {
    margin: 0;
}