/*css untuk navbar*/

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(169, 254, 197);
    align-items: center;
}

#header {
    margin: 0;
}

#button-login-register {
    background-color: none;
}